<ul class="topnav">
  <li><a href="anime" {{#if anime}}class="active"{{/if}}>Anime</a></li>
  <li><a href="hive" {{#if hive}}class="active"{{/if}}>Hive</a></li>
  <li class="right"><a href="logout">Log Out</a></li>
  <li class="right"><a href="terminate">Self Terminate</a></li>
</ul>